
.scroll-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.icon {
  width: 1em;
  height: 1em;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
  flex-shrink: 0;
  fill: currentColor;
  display: inline-block;
}
